.header{
  top:0;
  left:10%;
  width:80%;
  height:10vh;
  min-height: 70px;
  position:fixed;
  margin-bottom: 5vh;
  z-index: 1;
}

.main-container {
   left:10%;
   width: 80%;
   top:10vh;
   position:relative;
}


.navbar {
   width:100%;
   height: 100%;
   min-height: 70px;
   border: 1px solid green;
   background-color: #46454A;
   position: fixed;
   top:0;
}


.logo {
  display: inline-block;
  height:80%;
  min-height: 40px;
  width: auto;
  margin:1px;
  margin-left:calc(5px + 0.6vw);
  padding: 0;
}

.nav-sections {
  float:right;
  display:flex;
  height:100%;
  min-height: 70px;
  width: auto;
  margin:1px;
  margin-right:calc(5px + 0.1vw);
  padding: 0;
  white-space: nowrap;
  align-items: flex-end;
  vertical-align: middle;
}

.language-bar{
   text-align: right;
   padding: 0.5vh;
   height:30%;
}

.language-button{
   margin-right:calc(5px + 0.6vw);
   color: #F0E7E2;
   font-size:12px;
   cursor: pointer;
}

.sections-bar{
  text-align: right;
  padding: 0.5vh;
  height:70%;
}

.nav-button {
   display: inline-block;
   width:calc(30px + 4.5vw);
   border: 1px solid  #F0E7E2;
   border-radius: 6px;
   margin-left: 0.5vw;
   margin-right:0.5vw;
   cursor: pointer;

}

.nav-button .button-image-container {
   display:inline-block;
   left:0;
   padding:0;
   margin:0;
   height:100%;
   width:calc(10px + 1.5vw);
}

.nav-button .button-image-container .button-image{
   width:100%;
   height:auto;
}



.nav-button .button-text-container {
   display:inline-block;
   text-align: center;
   width:calc(20px + 2.6vw);
   font-family: Nunito;
   font-style: normal;
   font-size:calc(8px + 0.3vw);
   font-weight: 800;
   color: #F0E7E2;
   position: relative;
}



.section-container {
   width: 100%;
   height:80vh;
   margin-top: 5vh;
   margin-bottom: 5vh;
   background-color:#A2A2A4;
}



.content-container {
    position: relative;
    width: 100%;
    height:64vh;
    background-color: #F0E7E2;
    top: 8vh;
    text-align: center;
}

.content-container .google-map-placeholder{
     height: 64vh;
     width:50%;
     border: 1px solid green;
     left:0;
     top:0;
     position: relative;
     float:left;
}

.content-container .contact-text {
      height: 64vh;
      width:50%;
      border: 1px solid green;
      right:0;
      top:0;
      position: relative;
      float:right;

}

.content-container .service-table{
     height:57.6vh;
     width:100%;
}


.service-table td .service-images{
  left: 10%;
  right: 10%;
  width:auto;
  height: 18vh;
  cursor: pointer;

}

.service-description{
  position:fixed;
  left: 25vw;
  right: 25vw;
  width: 50vw;
  height:50vh;
  top: 25vh;
  transition: top 0.45s ease;
  overflow-y: auto;
  animation: fadein 1.2s;
  z-index: -50;

}


.service-description .description-text{
      width:80%%;
      height:80%;
      margin-top:10%;
      margin-left:10%;
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      background: #3CB371;
      color:#F0E7E2;
      font-size: 14px;
      position: relative;

}

.service-description .description-text .hide-text{
      display: none;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.map {
   width:100%;
   height: 100%;
}


.images {
  left: 10%;
  right: 10%;
  width:80%;
  height: auto;
  min-width: 100px;
}

.active-section {
   background-color: grey;
}

.come-in {
  transform: translateY(500px);
  animation: come-in 0.8s ease forwards;
}


.come-in:nth-child(odd) {
  animation-duration: 1.5s;
}


.already-visible {
  transform: translateY(0);
  animation: none;
}


@keyframes come-in {
  to { transform: translateY(0); }
}

.come-out {
  transform: translateY(-500px);
  animation: come-out 0.8s ease forwards;
}


.come-out:nth-child(odd) {
  animation-duration: 1.2s;
}

@keyframes come-out {
  to { transform: translateY(0); }
}


@media screen and (max-width:960px){

  .content-container .google-map-placeholder{
        float:none;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
  }

  .content-container .contact-text {
        float:none;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
  }


  .images {
      width:100%;
      height:auto;
  }

  .content-container{
      overflow:auto;

  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .service-table td{
      width:100%;
      display:inline-block;
  }

}
