<section class="section-container" id = 'section3'   section-animation>
   <div class = 'section-head' section-head>O nama</div>
    <div class = 'content-container-about'>
         <div class="about-head">
            <div class="about-head-text">
               <h1>Privatna stomatoloska ordinacija B-dent</h2>
                <p>Petnaest godina iskustva, vrhunska usluga i veliki broj zadovoljnih klijenata.</p>
            </div>
         </div>
         <div class="about-image-box">
              <img class = 'about-image' ng-src= '{{imagesAbout.about}}' alt="about">
         </div>
         <div class="about-description">
             <div class='about-text wrapword '>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim metus, rutrum ut vehicula sit amet, finibus a arcu.
                      Ut leo massa, consectetur eget ipsum vitae, ullamcorper placerat libero. Vestibulum rhoncus tellus vitae massa volutpat, at posuere nisl euismod.
                      Vestibulum laoreet purus eu dignissim condimentum. Vivamus egestas porta nunc. Donec et egestas urna. Donec a auctor nisl. Ut id leo accumsan, lacinia massa eget, bibendum turpis. Ut blandit tortor elementum viverra volutpat. Sed in massa porta, bibendum nulla vel, iaculis neque.
                      Nunc eu sapien sit amet metus scelerisque accumsan.
                  </p>
             </div>
         </div>
    </div>
</section>
