<section class="section-container" id = 'section3'   section-animation>
   <div class = 'section-head' section-head>O nama</div>
    <div class = 'content-container-about'>
         <div class="about-head">
            <div class="about-head-text">
               <h1>Ordinacija B-Dent Dr Zuković</h2>
                <p>za savršen osmeh i zdrave zube</p>
            </div>
         </div>
         <div class="about-image-box">
              <img class = 'about-image' ng-src= '{{imagesAbout.about}}' alt="about">
         </div>
         <div class="about-description">
             <div class='about-text wrapword '>
                  <p>
                    Višegodišnje iskustvo, porodična tradicija bavljenja stomatologijom, kao i stalno usavršavanje u svim oblastima struke omogućuju nam da se profesionalno, posvećeno i stručno brinemo o našim pacijentima.
                  </p>
                  <p>
                    Bilo da imate dentalni ili estetski problem, osnivač ordinacije dr Bojan Zuković i njegovi stručni saradnici potrudiće se da pronađu najbolje rešenje za vas, uz korišćenje najsavremenijih metoda moderne stomatologije, kao i vrhunskih materijala renomiranih svetskih proizvođača.  Beljenje zuba, izrada vinira, bezmetalnih i metalokeramičkih kruna, ugradnja implanata, ispravljanje zuba, lečenje kanala korena, neke su od usluga koje pružamo, uz maksimalnu posvećenost i individualni pristup svakom pacijentu.
                  </p>
             </div>
         </div>
    </div>
</section>
