<section class="contact-section-container" id = 'section4'  section-animation>
    <div class = 'section-head' section-head>Kontakt</div>
    <div class = 'content-container-contact'>
       <div class = 'contact-description-container'>
          <div class = 'contact-description'>
               <div class='contact-main'>
                    <h2>Kontaktirajte nas</h2>
                    <a></a>
               </div>
               <div class='contact-transport'>

               </div>
          </div>
       </div>
       <div class="google-map-container">
           <div class = 'google-map-placeholder'>
                 <ng-map class = 'map' zoom="11" center="[40.74, -74.18]" >
                     <marker position="[40.74, -74.18]" />
                     <shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />
                     <control name="overviewMap" opened="true" />
                 </ng-map>
            </div>
       </div>
    </div>
</section>
