<section class="contact-section-container" id = 'section4'  section-animation>
    <div class = 'section-head' section-head>Kontakt</div>
    <div class = 'content-container-contact'>
       <div class = 'contact-description-container'>
          <div class = 'contact-description'>
               <div class='contact-main'>
                    <div class='phone-email'>
                        <h3>Kontaktirajte nas</h3>
                        <p>b-dent@gmail.com</p>
                        <p>+381 888 88888</p>
                    </div>
                    <div class="address">
                        <h3>Svratite do nas</h3>
                        <p>Koce Kapetana 11000, Beograd</p>
                    </div>

                </div>
               <div class='contact-transport'>
                        <h3>Ako koristite odrzivi transport</h3>
                        <div class="trolleybus">
                            <img ng-src='{{imagesContact.trolley}}'>
                            <div class="trolley-lines">40, 41, 42</div>
                        </div>
                        <div class="bus">
                            <img ng-src='{{imagesContact.bus}}'>
                            <div class="bus-lines">23, 37</div>
                        </div>
                        <div class="tram">
                            <img ng-src='{{imagesContact.tram}}'>
                            <div class="tram-lines">11, 13</div>
                        </div>
               </div>
          </div>
       </div>
       <div class="google-map-container">
           <div class = 'google-map-placeholder'>
                 <ng-map class = 'map' zoom="11" center="[40.74, -74.18]" >
                     <marker position="[40.74, -74.18]" />
                     <shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />
                     <control name="overviewMap" opened="true" />
                 </ng-map>
            </div>
       </div>
    </div>
</section>
