<header class = "header">
    <navigation-bar></navigation-bar>
</header>
<div class = 'main-container'>
    <home-section id = 'section1' class= 'section-container ' section-animation></home-section>
    <services-section id = 'section2' class= 'section-container ' section-animation></services-section>
    <about-section  id = 'section3' class= 'section-container ' section-animation></about-section>
    <contact-section id = 'section4' class= 'section-container ' section-animation></contact-section>
</div>
