
<div class = 'main-container'>
      <header>
            <nav class ='navbar'>
              <img class = 'logo' src= 'images/logo1.png' alt="logo">
              <ul class = 'nav-buttons-list'>
                <li class= 'nav-button'>Home</li>
                <li class= 'nav-button'>Services</li>
                <li class= 'nav-button'>About</li>
                <li class= 'nav-button'>Contact</li>
              </ul>
            </nav>
      </header>


      <section class= 'section-container '>
          <div class = 'content-container '>
             <img class = 'images' src= 'images/Homepage.jpg' alt="logo">
          </div>
      </section>

      <section class = 'section-container'>
          <div class = 'content-container'>
             <img class = 'images' src= 'images/Services.jpg' alt="logo">
          </div>
      </section>

      <section class = 'section-container ' >
          <div class = 'content-container'>
             <img class = 'images' src= 'images/About.jpg' alt="logo">
          </div>
      </section>

      <section class = 'section-container ' >
          <div class = 'content-container'>
              <img class = 'images' src= 'images/Contact.jpg' alt="logo">
          </div>
      </section>

</div>
