<nav class ='navbar'>
  <img class = 'logo' ng-src= '{{imagesNavigation.logo}}' alt="logo">
  <table class = 'nav-sections'>
       <tr>
         <td class='language-bar'>
           <div class='language-button'>eng</div>
         </td>
       </tr>
       <tr>
         <td class='sections-bar'>
            <ul>
              <li class= 'nav-button' ng-click="scrollTo(section.services)"  >
                   <div class='button-image-container'><img class = 'button-image' ng-src = '{{imagesNavigation.services}}'></div>
                   <div class='button-text-container'>Service</div>
              </li>
              <li class= 'nav-button' >
                  <div class='button-image-container'><img class = 'button-image' ng-src = '{{imagesNavigation.pricing}}'></div>
                  <div class='button-text-container'>Price</div>
              </li>
              <li class= 'nav-button' ng-click="scrollTo(section.about)" >
                  <div class='button-image-container'><img class = 'button-image' ng-src = '{{imagesNavigation.about}}'></div>
                  <div class='button-text-container'>About</div>
              </li>
              <li class= 'nav-button' ng-click="scrollTo(section.contact)" >
                  <div class='button-image-container'><img class = 'button-image' ng-src = '{{imagesNavigation.contact}}'></div>
                  <div class='button-text-container'>Contact</div>
              </li>
            </ul>
         </td>
        </tr>
  </table>
</nav>
