<div class="prices" showPrices ='{{load}}'>

    <div class='prices-nav-top'>
        <div class='close-button' ng-click='goToLanding()'>X</div>
    </div>

    <div class='pricing-table-container'>

      <div class="conserva">
           <h3>Bolesti zuba</h3>
            <table class='pricing-table'>
                <tr>
                    <td>Stomatološki pregled</td>
                    <td>besplatan</td>
                </tr>
                <tr>
                    <td>Stomatološki pregled sa pisanim izveštajem</td>
                    <td>2000 RSD</td>
                </tr>
                <tr>
                    <td>Kompozitni ispun (bela plomba) jednopovršinski</td>
                    <td>2000 RSD</td>
                </tr>
                <tr>
                    <td>Kompozitni ispun (bela plomba) dvopovršinski</td>
                    <td>2500 RSD</td>
                </tr>
                <tr>
                    <td>Kompozitni ispun (bela plomba) tropovršinski</td>
                    <td>3000 RSD</td>
                </tr>
                <tr>
                    <td>Terapija dubokog karijesa</td>
                    <td>1500 RSD</td>
                </tr>
                <tr>
                    <td>Sredstvo za desenzibilizaciju pulpe</td>
                    <td>1200 RSD</td>
                </tr>
                <tr>
                    <td>Endodontsko lečenje zuba (jednokanalno)</td>
                    <td>2400 RSD</td>
                </tr>
                <tr>
                    <td>Endodontsko lečenje zuba (dvokanalno)</td>
                    <td>3000 RSD</td>
                </tr>
                <tr>
                    <td>Endodontsko lečenje zuba (trokanalno)</td>
                    <td>3600 RSD</td>
                </tr>
                <tr>
                    <td>Lečenje gangrene kanala korena zuba bez plombe (po seansi)</td>
                    <td>1200 RSD</td>
                </tr>
                <tr>
                      <td>Helio nadogradnja</td>
                      <td>1200 RSD</td>
                </tr>
            </table>
          </div>

          <div class="estheticH">
            <h3>Estetska stomatologija</h3>
             <table class="pricing-table">
                 <tr>
                     <td>Izbeljivanje zuba obe vilice – ordinacijsko</td>
                     <td>12500 RSD</td>
                 </tr>
                 <tr>
                     <td>Izbeljivanje zuba trejem – kućno</td>
                     <td>12500 RSD</td>
                 </tr>
                 <tr>
                     <td>Izbeljivanje avitalnog zuba</td>
                     <td>3600 RSD</td>
                 </tr>
                 <tr>
                     <td>Keramička faseta (vinir)</td>
                     <td>21600 RSD</td>
                 </tr>
                 <tr>
                     <td>Kompozitna faseta</td>
                     <td>6000 RSD</td>
                 </tr>
                 <tr>
                     <td>Keramička plomba (onlej/inlej)</td>
                     <td>18000 RSD</td>
                 </tr>
                 <tr>
                     <td>Plomba od plemenitog metala (zlato)</td>
                     <td>12000 RSD + cena zlata</td>
                 </tr>
                 <tr>
                     <td>Ugradnja cirkona</td>
                     <td>3000 RSD</td>
                 </tr>
             </table>
          </div>

          <div class="implant">
             <h3>Implantologija</h3>
              <table class="pricing-table">
                  <tr>
                      <td>Implant (dvofazni) – Bredent, Nobel Biocare, Strauman</td>
                      <td>66000 - 90000 RSD</td>
                  </tr>
              </table>
          </div>

          <div class="paradont">
              <h3>Paradontologija</h3>
              <table class="pricing-table">
                  <tr>
                      <td>Uklanjanje kamenca sa poliranjem zuba</td>
                      <td>1700 RSD</td>
                  </tr>
                  <tr>
                      <td>Peskiranje zuba sa poliranjem</td>
                      <td>2000 RSD</td>
                  </tr>
                  <tr>
                      <td>Obrada parodontalnog džepa u lokalnoj anesteziji</td>
                      <td>1300 RSD</td>
                  </tr>
                  <tr>
                      <td>Terapija parodontalnog apcesa</td>
                      <td>1300 RSD</td>
                  </tr>
              </table>
            </div>


          <div class="oralH">
              <h3>Oralna hirurgija</h3>
              <table class="pricing-table">
                  <tr>
                      <td>Rutinsko vađenje zuba</td>
                      <td>1500 RSD</td>
                  </tr>
                  <tr>
                      <td>PKomplikovano vađenje zuba</td>
                      <td>3000 RSD</td>
                  </tr>
                  <tr>
                      <td>Hirurško vađenje zuba</td>
                      <td>12000 RSD</td>
                  </tr>
                  <tr>
                      <td>Apikotomija</td>
                      <td>12000 RSD</td>
                  </tr>
                  <tr>
                      <td>Cistektomija</td>
                      <td>12000 RSD</td>
                  </tr>
                  <tr>
                      <td>Frenektomija</td>
                      <td>12000 RSD</td>
                  </tr>
              </table>
          </div>

          <div class="protetika">
              <h3>Protetika</h3>
              <table class="pricing-table">
                  <tr>
                      <td>Totalna akrilatna proteza</td>
                      <td>18000 RSD</td>
                  </tr>
                  <tr>
                      <td>Parcijalna akrilatna proteza</td>
                      <td>18000 RSD</td>
                  </tr>
                  <tr>
                      <td>Valplast parcijalna proteza (silikonska)</td>
                      <td>30000 RSD</td>
                  </tr>
                  <tr>
                      <td>Privremena parcijalna proteza (1-4 zuba)</td>
                      <td>7000 RSD</td>
                  </tr>
                  <tr>
                      <td>Totalna proteza sa metalnom bazom</td>
                      <td>30000 RSD</td>
                  </tr>
                  <tr>
                      <td>Skeletirana vizil proteza</td>
                      <td>36000 RSD</td>
                  </tr>
                  <tr>
                      <td>Skeletirana vizil proteza sa atačmenima - kopčama</td>
                      <td>42000 RSD</td>
                  </tr>
                  <tr>
                      <td>Metalokeramička kruna (Vita)</td>
                      <td>9600 RSD</td>
                  </tr>
                  <tr>
                      <td>Metalokeramička kruna (Ivoclar)</td>
                      <td>12000 RSD</td>
                  </tr>
                  <tr>
                      <td>Bezmetalna keramička kruna (Vita)</td>
                      <td>18000 RSD</td>
                  </tr>
                  <tr>
                      <td>Bezmetalna keramička kruna (Ivoclar)</td>
                      <td>216000 RSD</td>
                  </tr>
                  <tr>
                      <td>Metalokeramička kruna na implantu</td>
                      <td>14400 RSD</td>
                  </tr>
                  <tr>
                      <td>Bezmetalna kruna na implantu</td>
                      <td>21600 RSD</td>
                  </tr>
                  <tr>
                      <td>Teleskop kruna</td>
                      <td>14400 RSD</td>
                  </tr>
                  <tr>
                      <td>Zaštitna privremena kruna</td>
                      <td>1200 – 2000 RSD</td>
                  </tr>
                  <tr>
                      <td>Skidanje starog keramičkog mosta</td>
                      <td>1000 RSD</td>
                  </tr>
                  <tr>
                      <td>Direktno podlaganje proteze</td>
                      <td>2400 RSD</td>
                  </tr>
                  <tr>
                      <td>Indirektno podlaganje proteze</td>
                      <td>4800 RSD</td>
                  </tr>
                  <tr>
                      <td>Livena nadogradnja</td>
                      <td>2400 RSD</td>
                  </tr>
                  <tr>
                      <td>Fiberglas nadorgradnja</td>
                      <td>3000 RSD</td>
                  </tr>
                  <tr>
                      <td>Reparatura akrilatne proteze</td>
                      <td>2400 RSD</td>
                  </tr>
              </table>
            </div>


          <div class="children">
              <h3>Dečija preventivna stomatologija</h3>
              <table class="pricing-table">
                  <tr>
                      <td>Uklanjanje mekih naslaga</td>
                      <td>1200 RSD</td>
                  </tr>
                  <tr>
                      <td>Zalivanje fisura</td>
                      <td>1200 RSD</td>
                  </tr>
                  <tr>
                      <td>Glas – jonomer ispun na zubima</td>
                      <td>1800 RSD</td>
                  </tr>
                  <tr>
                      <td>Premazivanje zuba fluoridima</td>
                      <td>1200 RSD</td>
                  </tr>
                  <tr>
                      <td>Vađenje mlečnog zuba</td>
                      <td>1200 RSD</td>
                  </tr>
                  <tr>
                      <td>Tretman nezavršenog rasta korena zuba</td>
                      <td>1500 RSD</td>
                  </tr>
              </table>
            </div>

            <div class="ortoped">
                <h3>Ortopedija vilice</h3>
                <table class="pricing-table">
                    <tr>
                        <td>Fiksni ortodontski aparat (metalne bravice)</td>
                        <td>60000 RSD</td>
                    </tr>
                    <tr>
                        <td>Fiksni ortodontski aparat (keramičke bravice)</td>
                        <td>100000 RSD</td>
                    </tr>
                    <tr>
                        <td>Aktivni mobilni ortodontski aparat</td>
                        <td>36000 RSD</td>
                    </tr>
                    <tr>
                        <td>Folija za ortodontsko pomeranje zuba</td>
                        <td>24000 RSD</td>
                    </tr>
                    <tr>
                        <td>Zaštitna folija – splint</td>
                        <td>6000 RSD</td>
                    </tr>
                </table>
              </div>

              <h5>Akontacija na protetske i ortodontske radove je 50 %</h5>
              <h5>Plaćanje na rate – karticama do 12 meseci</h5>

    </div>
</div>
