<div class='service-description-nav-top'>
    <div class='close-button' ng-click='goToLanding()'>X</div>
</div>
<div class = 'description-content' descriptionToShow = "{{descriptionId}}" >

    <div class = 'service-description hide-text' id='children'>
             <div class= 'service-description-head-container'>
                  <img ng-src='{{serviceImages.decijaPreventiva}}'>
                  <div class='service-description-head-text'>
                    Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                    Sed delectus intellegat ut, mea ne errem solet percipit.

                  </div>
             </div>

             <div class='service-description-list-container'>
                <ul>
                   <li>Nesto 1</li>
                   <li>Nesto 2</li>
                </ul>

             </div>

             <div class='service-description-text-container'>
               Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
               His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

              Sea legimus debitis id. Eum nemore appellantur eu.
              Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

              Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
             </div>
    </div>

    <div class = 'service-description hide-text' id='estheticH'>
              <div class= 'service-description-head-container'>
                   <img ng-src='{{serviceImages.estetskaHirurgija}}'>
                   <div class='service-description-head-text'>
                     Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                     Sed delectus intellegat ut, mea ne errem solet percipit.

                   </div>
              </div>

              <div class='service-description-list-container'>
                 <ul>
                    <li>Nesto 1</li>
                    <li>Nesto 2</li>
                 </ul>

              </div>

              <div class='service-description-text-container'>
                Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

               Sea legimus debitis id. Eum nemore appellantur eu.
               Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

               Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
              </div>
    </div>

    <div class = 'service-description hide-text' id='implant'>
              <div class= 'service-description-head-container'>
                   <img ng-src='{{serviceImages.implantologija}}'>
                   <div class='service-description-head-text'>
                     Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                     Sed delectus intellegat ut, mea ne errem solet percipit.

                   </div>
              </div>

              <div class='service-description-list-container'>
                 <ul>
                    <li>Nesto 1</li>
                    <li>Nesto 2</li>
                 </ul>

              </div>

              <div class='service-description-text-container'>
                Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

               Sea legimus debitis id. Eum nemore appellantur eu.
               Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

               Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
              </div>
    </div>

    <div class = 'service-description hide-text' id='white'>
                <div class= 'service-description-head-container'>
                     <img ng-src='{{serviceImages.izbeljivanjeZuba}}'>
                     <div class='service-description-head-text'>
                       Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                       Sed delectus intellegat ut, mea ne errem solet percipit.

                     </div>
                </div>

                <div class='service-description-list-container'>
                   <ul>
                      <li>Nesto 1</li>
                      <li>Nesto 2</li>
                   </ul>

                </div>

                <div class='service-description-text-container'>
                  Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                  His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

                 Sea legimus debitis id. Eum nemore appellantur eu.
                 Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

                 Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
                </div>
    </div>
    <div class = 'service-description hide-text' id='conserva'>
                <div class= 'service-description-head-container'>
                     <img ng-src='{{serviceImages.konzervativa}}'>
                     <div class='service-description-head-text'>
                       Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                       Sed delectus intellegat ut, mea ne errem solet percipit.

                     </div>
                </div>

                <div class='service-description-list-container'>
                   <ul>
                      <li>Nesto 1</li>
                      <li>Nesto 2</li>
                   </ul>

                </div>

                <div class='service-description-text-container'>
                  Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                  His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

                 Sea legimus debitis id. Eum nemore appellantur eu.
                 Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

                 Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
                </div>
    </div>

    <div class = 'service-description hide-text' id='oralH'>
                <div class= 'service-description-head-container'>
                     <img ng-src='{{serviceImages.oralnaHirurgija}}'>
                     <div class='service-description-head-text'>
                       Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                       Sed delectus intellegat ut, mea ne errem solet percipit.

                     </div>
                </div>

                <div class='service-description-list-container'>
                   <ul>
                      <li>Nesto 1</li>
                      <li>Nesto 2</li>
                   </ul>

                </div>

                <div class='service-description-text-container'>
                  Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                  His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

                 Sea legimus debitis id. Eum nemore appellantur eu.
                 Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

                 Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
                </div>
    </div>

    <div class = 'service-description hide-text' id='ortoped'>
                <div class= 'service-description-head-container'>
                     <img ng-src='{{serviceImages.ortopedija}}'>
                     <div class='service-description-head-text'>
                       Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                       Sed delectus intellegat ut, mea ne errem solet percipit.

                     </div>
                </div>

                <div class='service-description-list-container'>
                   <ul>
                      <li>Nesto 1</li>
                      <li>Nesto 2</li>
                   </ul>

                </div>

                <div class='service-description-text-container'>
                  Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                  His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

                 Sea legimus debitis id. Eum nemore appellantur eu.
                 Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

                 Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
                </div>
    </div>

    <div class = 'service-description hide-text' id='paradont'>
                <div class= 'service-description-head-container'>
                     <img ng-src='{{serviceImages.paradontologija}}'>
                     <div class='service-description-head-text'>
                       Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                       Sed delectus intellegat ut, mea ne errem solet percipit.

                     </div>
                </div>

                <div class='service-description-list-container'>
                   <ul>
                      <li>Nesto 1</li>
                      <li>Nesto 2</li>
                   </ul>

                </div>

                <div class='service-description-text-container'>
                  Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                  His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

                 Sea legimus debitis id. Eum nemore appellantur eu.
                 Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

                 Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
                </div>
    </div>

    <div class = 'service-description hide-text' id='protetika'>
                <div class= 'service-description-head-container'>
                     <img ng-src='{{serviceImages.protetika}}'>
                     <div class='service-description-head-text'>
                       Lorem ipsum dolor sit amet, vero posse alienum ex eam, eu sea aeque iriure ocurreret.
                       Sed delectus intellegat ut, mea ne errem solet percipit.

                     </div>
                </div>

                <div class='service-description-list-container'>
                   <ul>
                      <li>Nesto 1</li>
                      <li>Nesto 2</li>
                   </ul>

                </div>

                <div class='service-description-text-container'>
                  Ut decore primis debitis sed. Autem audire per te. Sed ad affert nusquam minimum, te alii mundi per, et dicunt vituperatoribus ius.
                  His ut eligendi volutpat. Cu pri summo falli scripta, duo doming consequat ad, vis iuvaret impedit commune ex.

                 Sea legimus debitis id. Eum nemore appellantur eu.
                 Mea ne doctus phaedrum, usu nostrud euismod ea, no quot zril cum. Sit cu officiis democritum posidonium.

                 Adipiscing ullamcorper nec ei, est unum harum aliquid ei, congue vocent ex pri. Diam postulant an eam, ubique nemore quo ei, sed mandamus partiendo voluptaria ei. At sit paulo sonet soluta, qui atqui aperiri in, at nostro interpretaris per. Recteque reformidans complectitur eu sea.
                </div>
              </div>
</div>
<div class='service-description-nav-bottom'>
    <div class='prices-button' ui-sref="landing.pricing({load:true})">Pogledajte cene</div>
</div>
