<div class='service-description-nav-container'>
    <div class='close-button'>X</div>
</div>
<div class = 'description-content' descriptionToShow = "{{descriptionId}}" >

    <div class = 'service-description hide-text' id='children'>
             <div class= 'service-description-head-container'>
                  <img ng-src='{{serviceImages.decijaPreventiva}}'>
                  <div class='service-description-head-text'></div>
             </div>

             <div class='service-secription-list-conatiner'>

             </div>

             <div class='service-description-text-container'>

             </div>

             <div class='service-description-price-container'>

             </div>
    </div>


    <div class = 'service-description hide-text' id='estheticH'>Estetska hirurgija je ...</div>
    <div class = 'service-description hide-text' id='implant'>Ugradjivanje implanta...</div>
    <div class = 'service-description hide-text' id='white'>Izbeljivanje zuba...</div>
    <div class = 'service-description hide-text' id='conserva'>KOnzervativa</div>
    <div class = 'service-description hide-text' id='oralH'>Oralna hirurgija je....</div>
    <div class = 'service-description hide-text' id='ortoped'>Ortopedija je....</div>
    <div class = 'service-description hide-text' id='paradont'>Paradontologija je....</div>
    <div class = 'service-description hide-text' id='protetika'>Protetika je....</div>


    <button type="button" class="btn btn-default" ng-click='goToLanding()'>Back</button>
</div>
