
<section>
    <div class = 'section-head' section-head>Usluge</div>
    <div class = 'content-container-services'>
        <table class="service-table" >
             <tr>
                <td>
                    <div class='service-box' ui-sref=".serviceDescription({descriptionId:'children'})">
                          <div class="text-box">
                              <tag>Decija preventiva</tag>
                          </div>
                          <img ng-src = '{{imagesServices.decijaPreventiva}}'>
                    </div>
                  </td>

               <td>
                    <div class='service-box' ui-sref=".serviceDescription({descriptionId:'estheticH'})">
                          <div class="text-box">
                              <tag>Estetska hirurgija</tag>
                          </div>
                          <img ng-src = '{{imagesServices.estetskaHirurgija}}'>
                    </div>
                </td>

                <td>
                     <div class='service-box' ui-sref=".serviceDescription({descriptionId:'implant'})">
                           <div class="text-box">
                               <tag>Implantologija</tag>
                           </div>
                           <img ng-src = '{{imagesServices.implantologija}}'>
                     </div>
                 </td>

                 <td>
                      <div class='service-box' ui-sref=".serviceDescription({descriptionId:'white'})">
                            <div class="text-box">
                                <tag>Izbeljivanje zuba</tag>
                            </div>
                            <img ng-src = '{{imagesServices.izbeljivanjeZuba}}'>
                      </div>
                  </td>

                  <td>
                       <div class='service-box' ui-sref=".serviceDescription({descriptionId:'conserva'})">
                             <div class="text-box">
                                 <tag>Konzervativa</tag>
                             </div>
                             <img ng-src = '{{imagesServices.konzervativa}}'>
                       </div>
                   </td>

             </tr>
             <tr>
               <td>
                    <div class='service-box' ui-sref=".serviceDescription({descriptionId:'oralH'})">
                          <div class="text-box">
                              <tag>Oralna hirurgija</tag>
                          </div>
                          <img ng-src = '{{imagesServices.oralnaHirurgija}}'>
                    </div>
                </td>

                <td>
                     <div class='service-box' ui-sref=".serviceDescription({descriptionId:'ortoped'})">
                           <div class="text-box">
                               <tag>Ortopedija</tag>
                           </div>
                           <img ng-src = '{{imagesServices.ortopedija}}'>
                     </div>
                 </td>

                 <td>
                      <div class='service-box' ui-sref=".serviceDescription({descriptionId:'paradont'})">
                            <div class="text-box">
                                <tag>Paradontologija</tag>
                            </div>
                            <img ng-src = '{{imagesServices.paradontologija}}'>
                      </div>
                  </td>

                  <td>
                       <div class='service-box' ui-sref=".serviceDescription({descriptionId:'protetika'})">
                             <div class="text-box">
                                 <tag>Protetika</tag>
                             </div>
                             <img ng-src = '{{imagesServices.protetika}}'>
                       </div>
                   </td>

             </tr>
        </table>
    </div>
</section>
