<div class = 'description-text' descriptionToShow = "{{descriptionId}}" >
    <div class = 'hide-text' id='children'>
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
          Sa'ce cika izvadi zvubic..........!!!!!!!
    </div>


    <div class = 'hide-text' id='estheticH'>Estetska hirurgija je ...</div>
    <div class = 'hide-text' id='implant'>Ugradjivanje implanta...</div>
    <div class = 'hide-text' id='white'>Izbeljivanje zuba...</div>
    <div class = 'hide-text' id='conserva'>KOnzervativa</div>
    <div class = 'hide-text' id='oralH'>Oralna hirurgija je....</div>
    <div class = 'hide-text' id='ortoped'>Ortopedija je....</div>
    <div class = 'hide-text' id='ortoped'>Paradontologija je....</div>
    <div class = 'hide-text' id='ortoped'>Protetika je....</div>


    <button type="button" class="btn btn-default" ng-click='goToLanding()'>Back</button>
</div>
