<!DOCTYPE html>
<html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBENhfBFicEBteQqlZ9Vgm-rdlv5mX_dlk"></script>
  <script src="lib/assets/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
  <title>B-Dent</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body ng-app="bDent" class = 'body-container'>

     <%= yield %>

</body>
</html>
